@model Grow.Server.Model.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Welcome to GROW";
    ViewBag.TransparentNavbar = true;
}

@section Scripts {

    <script type="text/javascript">
        $(document).ready(() => {
            $("#signup").click(() => {
                // add JB tracker
                var _paq = _paq || []; (function () { if (window.apScriptInserted) return; _paq.push(['clientToken', 'P%2bsIjEMd6oQ%3d']); var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0]; g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = 'https://prod.benchmarkemail.com/tracker.bundle.js'; s.parentNode.insertBefore(g, s); window.apScriptInserted = true; })();

                // include benchmark code
                $.ajax({
                    type: "GET",
                    url: "https://lb.benchmarkemail.com//de/code/lbformnew.js?mFcQnoBFKMTsK6pJMlXEB1cgGr0xQgnhhpzUQIyvOqERo7EOPCQKdMj9ybR%252Bnt%252Fk",
                    dataType: "script"
                });
            });
        });
    </script>
}

<section id="banner">
    <div class="inner">
        <header>
            <h2><img src="/img/grow_logo.png" alt="GROW" /></h2>
        </header>
    </div>
    <p>&nbsp;</p>
    @if (Model.IsBeforeContest)
    {
        // countdown
        var timeLeft = Model.ContestStart - DateTime.UtcNow;
        <h2>
            GROW @Model.Contest.Year is starting soon<br />
            <script>
                var contestStart = new Date('@Model.ContestStart.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fff'Z'")');
            </script>
            <div id="clockdiv">
                <div>
                    <span class="days">@timeLeft.Days.ToString("#00")</span>
                    <div class="smalltext">Days</div>
                </div>
                <div>
                    <span class="hours">@timeLeft.Hours.ToString("00")</span>
                    <div class="smalltext">Hrs</div>
                </div>
                <div>
                    <span class="minutes">@timeLeft.Minutes.ToString("00")</span>
                    <div class="smalltext">Mins</div>
                </div>
                <div>
                    <span class="seconds">@timeLeft.Seconds.ToString("00")</span>
                    <div class="smalltext">Secs</div>
                </div>
            </div>
        </h2>
    }
    else
    {
        <h2>Support student entrepreneurship</h2>
    }
    <p>&nbsp;</p>
    <ul class="buttons">
        <li><a href="#cta" class="button special">Get involved</a></li>
    </ul>
</section>

<article id="main">
    <section class="wrapper container" style="font-size: 100%; padding-top: 0px; padding-bottom: 0px;">
        <header>
            @if (Model.IsBeforeContest)
            {
                <h2 style="text-align: center">Stay tuned for @Model.Contest.Name</h2>
            }
            else
            {
                <h2 style="text-align: center">@Model.Contest.Name</h2>
            }
            <p style="font-weight: 500;">
                Become an entrepreneur and advance your idea over 11 weeks. Get support, build your prototype and test your market.
            </p>
        </header>
        <p>
            GROW, the student founding contest in <strong>Karlsruhe</strong>, is aimed at helping student entrepreneurs to get the right experience,
            knowledge and network to found their own company. There are no requirements; some teams start with nothing but an idea and others are already working on their prototype. We value progress; it doesn’t matter where you start, as long as you GROW.
        </p>
        <p>
            At the end you can get the chance to pitch your progress in front of <strong>500+ people</strong>
            including an experienced jury and may win one of the prizes from our <strong>prize pool worth over 10.000 €</strong>.
        </p>
        <h3 style="text-align: center">
            <strong>Supporting young founders - every winter in Karlsruhe</strong>
        </h3>
    </section>

    <section id="cta">
        @if (Model.IsBeforeContest)
        {
            <header>
                <h2>You want to participate in @Model.Contest.Year?</h2>
            </header>
            <footer>
                <ul class="buttons">
                    @if (Model.Contest.RegistrationUrl != null)
                    {
                        <li><a href="@Model.Contest.RegistrationUrl" target="_blank" class="button special">Register now</a></li>
                    }
                    else
                    {
                        <li><span class="button disabled">Registrations have not yet opened</span></li>
                    }
                </ul>
            </footer>
            <p>
                You can also attend the Kickoff event and enter spontaneously.
            </p>
        }
        else if (Model.IsAfterContest)
        {
            // TODO
        }
        else
        {
            // TODO
        }
        <p>
            Do you have any questions? Just write a mail to <a href="mailto:grow@pioniergarage.de" style="color: white; font-weight: bold;">gro<span>w@p</span>ioniergarage.de</a>
        </p>
    </section>

    <section id="divider" class="container special style1 wrapper">
        &nbsp;
    </section>

    <section class="wrapper style1 container special">
        <div class="row">
            @foreach (var evnt in Model.MainEvents.OrderBy(e => e.Start))
            {
                <div class="4u 12u(narrower)">
                    <section>
                        <img src="@(evnt.Image?.Url ?? "/img/icon/eventdate.png")" alt="@evnt.Name" class="fitHalf" />
                        <header>
                            <h2>@evnt.Start.ToString("MMM dd")</h2>
                            <h3 style="text-decoration: underline">@Html.ActionLink(evnt.Name, "Program", "Home", null, null, evnt.Name.Replace(" ", String.Empty).ToLower(), null, null)</h3>
                        </header>
                        <p style="text-align: justify">
                            @evnt.Description.DynamicSubstring(250, new[] { '.' })
                        </p>
                        <p>
                            @Html.ActionLink("More info", "Program", "Home", null, null, evnt.Name.Replace(" ", String.Empty).ToLower(), null, null)
                        </p>
                    </section>
                </div>
            }
        </div>
    </section>

    <section class="wrapper style2 container special">
        <header class="major">
            <h2>Why GROW?</h2>
        </header>
        <div class="img-block">
            <img src="/img/icon/hourGlass.png" />
        </div>
        <p>
            <strong>1. We value progress</strong><br />
            It doesn't matter where you start. We only want to see you advance as much as possible during those 11 weeks.
        </p>
        <div class="img-block">
            <img src="/img/icon/phoneCall.png" />
        </div>
        <p>
            <strong>2. A business is more than a prototype</strong><br />
            Not only your prototype will be judged. A successfull venture includes understanding your customers, having a strong business model, building a network and validating your ideas.
        </p>
        <div class="img-block">
            <img src="/img/icon/businessman.png" />
        </div>
        <p>
            <strong>3. GROW actively supports you</strong><br />
            During those 11 weeks we try to help you advance as much as possible. We offer multiple full-day workshops to teach you the necessary soft skills about entrepreneurship. We connect you with experienced mentors that can give you feedback and the right mindset. And we give you access to our network of founders, investors and startups.
        </p>
        <div class="img-block">
            <img src="/img/icon/bigGroup.png" />
        </div>
        <p>
            <strong>4. GROW is not for profit</strong><br />
            GROW is organized by the student-run association <a href="https://pioniergarage.de" target="_blank" style="color: white; font-weight: bold">PionierGarage e.V.</a> Our first and foremost goal is to inspire students to found their own ventures.
        </p>
    </section>

    <section id="newsletter">
        <header>
            <h2>Become a GROW fan</h2>
        </header>
        <p>
            Sign up to our GROW newsletter to get updates about the main events, the program and other important news.
        </p>
        <p>
            @Html.ActionLink("Sign up", "Newsletter", "Home", null, new { @class = "button special" })
        </p>
    </section>

    <section class="wrapper style3 container special" style="margin-top: 100px">
        <header class="major">
            <h2>That's what alumni have to say about <strong>GROW</strong></h2>
        </header>

        <div class="row">
            <div class="6u 12u(narrower)">
                <section>
                    <blockquote>
                        GROW has provided us with a strong network of founders, investors and also other companies.
                        <cite>Martin Trenkle, Founder of Campusjäger</cite>
                        <img src="/img/2018/MartinTrenkle.jpg" class="fitHalf" />
                    </blockquote>
                </section>
            </div>
            <div class="6u 12u(narrower)">
                <section>
                    <blockquote>
                        We have learned a lot during that time and were able to really take of after that.
                        <cite>Sebastian Murgul, Founder of MelodyScanner</cite>
                        <img src="/img/2018/SebastianMurgul.jpg" class="fitHalf" />
                    </blockquote>
                </section>
            </div>
        </div>
    </section>

    @if (Model.Partners.Any())
    {
        <section class="wrapper style1 container special">
            <header>
                <h2>Made possible thanks to</h2>
            </header>
            <div class="logos">
                @foreach (var partner in Model.Partners)
                {
                    if (partner.Image != null)
                    {
                        <div>
                            <img src="@partner.Image.Url" />
                        </div>
                    }
                    else
                    {
                        <div>
                            <strong style="font-size: 200%">@partner.Name</strong>
                        </div>
                    }
                }
            </div>
        </section>
    }
</article>


