@model ICollection<Grow.Data.Entities.Mentor>

@{
    ViewBag.Title = "Mentors";
}

@section Styles {
    <style>
        hr {
            border: solid 1px rgba(124, 128, 129, 0.2);
            margin: 1.5em 0;
        }

        img.with-text {
            width: 100%;
        }

        .mentors h3 {
            font-size: 130%;
        }

        .mentors h3 + h5 {
            margin-top: -20px;
        }

        .mentors a {
            text-decoration: underline;
        }
    </style>
}

<article id="main">

    <header class="special container">
        <span class="icon fa-user"></span>
        <h2>
            Teams are supported by these
            <strong>Mentors</strong>
        </h2>
        <br />
        <h6 style="font-style: italic; text-transform: inherit">
            We are not able to display contact information here due to privacy reasons.
            <br />
            Please
            <a href="mailto:grow@pioniergarage.de" style="text-decoration: underline;">write us an email</a>
            and we will connect you.
        </h6>
    </header>

    @if (Model.Any())
    {
        <section id="toc" class="wrapper style4 container mentors">
            <div class="content">
                <section>
                    <header>
                        <h2>Mentor overview</h2>
                    </header>
                    <ul>
                        @foreach (var mentor in Model)
                        {
                            <li>
                                <a href="#@mentor.Id">@mentor.Name</a> - @mentor.Expertise.DynamicSubstring(35, ',')
                            </li>
                        }
                    </ul>
                </section>
            </div>
        </section>

        <div>

            @foreach (var mentor in Model)
            {
                <section class="wrapper style4 container mentors">
                    <div class="content" id="@mentor.Id" style="overflow-y: auto">
                        <div class="3u 12u(narrower)" style="float: right">
                            <img src="@Html.PrintIfNonEmpty(mentor.Image?.Url, "/img/icon/unknown.jpg")" class="with-text" />
                        </div>
                        <header>
                            <h3 data-if="Web">
                                @if (string.IsNullOrEmpty(mentor.WebsiteUrl))
                                {
                                    @mentor.Name
                                }
                                else
                                {
                                    <a href="@mentor.WebsiteUrl">@mentor.Name</a>
                                }
                            </h3>
                            <h5>@mentor.JobTitle</h5>
                        </header>
                        <p>
                            @mentor.Expertise
                        </p>
                    </div>
                </section>
            }

        </div>
    }
    else
    {
        <section class="wrapper style4 container">
            <div class="content">
                <section style="text-align: center">
                    <header>
                        <h3>Stay tuned</h3>
                    </header>

                    <p>
                        No mentors have been publicized yet. Check back later for more details or follow us on Social Media:
                    </p>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/Pioniergarage/" target="_blank">Facebook</a></li>
                        <li><a href="https://instagram.com/pioniergarage" target="_blank">Instagram</a></li>
                    </ul>
                    @{
                        var lastYear = (ViewBag.ContestYears as IDictionary<int, string>).Values
                            .Where(y => y.CompareTo(ViewBag.SelectedContestYear) < 0)
                            .OrderByDescending(y => y)
                            .FirstOrDefault();
                    }
                    @if (!string.IsNullOrEmpty(lastYear))
                    {
                        <p>
                            You can also check out @Html.ActionLink("the mentors of the last contest", "Mentors", "Home", new { year = lastYear }).
                        </p>
                    }
                </section>
            </div>
        </section>
    }

</article>
