@model Grow.Data.Entities.Contest

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contest</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <td>
                @Html.DisplayFor(model => model.Year)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <td>
                @Html.DisplayFor(model => model.Language)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationUrl)
            </th>
            <td>
                @Html.DisplayFor(model => model.RegistrationUrl)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <td>
                @Html.DisplayFor(model => model.CreatedAt)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <td>
                @Html.DisplayFor(model => model.UpdatedAt)
            </td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
