@using Microsoft.AspNetCore.Identity
@using Grow.Data.Entities
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <title>@ViewBag.Title - GROW by PionierGarage</title>

    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/flatpickr.min.css" rel="stylesheet">
    <link href="~/plugins/paper-dashboard/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/plugins/paper-dashboard/css/paper-dashboard.min.css" rel="stylesheet" />
    <link href="~/css/backend.min.css" asp-append-version="true" rel="stylesheet">

    @* Some scripts may be placed outside of @sections (jQuery is the only allowed dependency) *@
    <script src="/js/jquery.min.js"></script>

    @RenderSection("Styles", required: false)
</head>
<body>
    <a name="top"></a>
    <div class="wrapper">

        <!-- Side bar for navigation -->
        <div class="sidebar" data-color="red" data-active-color="danger">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index" class="simple-text logo-normal">
                    <div class="logo-image-big">
                        <img src="~/img/grow_logo.png">
                    </div>
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    @if (ViewBag.IsLoggedIn)
                    {
                        @if (ViewBag.IsAdmin)
                        {
                            <li class="nav-item">
                                <a class="collapse-toggle" href="#" data-toggle="collapse" data-target="#contentDropdown" aria-controls="#contentDropdown" aria-expanded="false">
                                    <i class="nc-icon nc-bullet-list-67"></i>
                                    Content
                                    <span class="caret arrow"></span>
                                </a>
                                <ul class="collapse" id="contentDropdown">
                                    <li conditional-active asp-area="Admin" asp-controller="Contests">
                                        <a asp-controller="Contests" asp-action="Index" asp-area="Admin">
                                            <i class="nc-icon nc-bank"></i> Contests
                                        </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li conditional-active asp-area="Admin" asp-controller="Events">
                                        <a asp-controller="Events" asp-action="Index" asp-area="Admin">
                                            <i class="nc-icon nc-pin-3"></i> Events
                                        </a>
                                    </li>
                                    <li conditional-active asp-area="Admin" asp-controller="Teams">
                                        <a asp-controller="Teams" asp-action="Index" asp-area="Admin">
                                            <i class="nc-icon nc-bulb-63"></i> Teams
                                        </a>
                                    </li>
                                    <li conditional-active asp-area="Admin" asp-controller="Prizes">
                                        <a asp-controller="Prizes" asp-action="Index" asp-area="Admin">
                                            <i class="nc-icon nc-trophy"></i> Prizes
                                        </a>
                                    </li>
                                    <li conditional-active asp-area="Admin" asp-controller="Partners">
                                        <a asp-controller="Partners" asp-action="Index" asp-area="Admin">
                                            <i class="nc-icon nc-support-17"></i> Partners
                                        </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li conditional-active asp-area="Admin" asp-controller="Mentors">
                                        <a asp-controller="Mentors" asp-action="Index" asp-area="Admin">
                                            <i class="nc-icon nc-chat-33"></i> Mentors
                                        </a>
                                    </li>
                                    <li conditional-active asp-area="Admin" asp-controller="Judges">
                                        <a asp-controller="Judges" asp-action="Index" asp-area="Admin">
                                            <i class="nc-icon nc-glasses-2"></i> Judges
                                        </a>
                                    </li>
                                    <li conditional-active asp-area="Admin" asp-controller="Organizers">
                                        <a asp-controller="Organizers" asp-action="Index" asp-area="Admin">
                                            <i class="nc-icon nc-tie-bow"></i> Organizers
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li conditional-active asp-area="Admin" asp-controller="Files">
                                <a asp-controller="Files" asp-action="Index" asp-area="Admin">
                                    <i class="nc-icon nc-image"></i>
                                    Files
                                </a>
                            </li>
                            <li conditional-active asp-area="Admin" asp-controller="Accounts">
                                <a asp-controller="Accounts" asp-action="Index" asp-area="Admin">
                                    <i class="nc-icon nc-single-02"></i>
                                    Accounts
                                </a>
                            </li>
                        }
                        if (ViewBag.TeamId > 0)
                        {
                            <li class="nav-item">
                                <a class="collapse-toggle" href="#" data-toggle="collapse" data-target="#teamDropdown" aria-controls="#teamDropdown" aria-expanded="false">
                                    <i class="nc-icon nc-bulb-63"></i>
                                    My Team
                                    <span class="caret arrow"></span>
                                </a>
                                <ul class="collapse" id="teamDropdown">
                                    <li conditional-active asp-area="MyTeam" asp-controller="Home" asp-action="Index">
                                        <a asp-controller="Home" asp-action="Index" asp-area="MyTeam">
                                            <i class="nc-icon nc-chart-bar-32"></i> Dashboard
                                        </a>
                                    </li>
                                    <li conditional-active asp-area="MyTeam" asp-controller="Home" asp-action="Profile">
                                        <a asp-controller="Home" asp-action="Profile" asp-area="MyTeam">
                                            <i class="nc-icon nc-ruler-pencil"></i> Edit Profile
                                        </a>
                                    </li>
                                    <li conditional-active asp-area="MyTeam" asp-controller="Events">
                                        <a asp-controller="Events" asp-action="Index" asp-area="MyTeam">
                                            <i class="nc-icon nc-pin-3"></i> Events
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li conditional-active asp-controller="Account" asp-area="">
                            <a asp-controller="Account" asp-action="Index" asp-area="">
                                <i class="nc-icon nc-badge"></i>
                                My Account
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-area="">
                                <i class="nc-icon nc-minimal-left"></i>
                                Back
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="main-panel">

            <a name="top"></a>

            <!-- Top bar for title and global actions -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">

                        <!-- Hamburger menu for mobile (opens/closes navbar above) -->
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>

                        <!-- Page title -->
                        <a class="navbar-brand" href="#top">@ViewData["Title"]</a>
                    </div>

                    <!-- Collapsable three-dot-menu for mobile (opens/closes navigation below) -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>

                    <!-- Space for global actions -->
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <partial name="Partials/_LoginPartial" />
                    </div>
                </div>
            </nav>

            <div class="content">
                @RenderBody()
            </div>

            <!-- Footer -->
            <footer class="footer footer-black footer-white ">
                <div class="container-fluid">
                    <div class="row">

                        <!-- Left-adjusted links -->
                        <nav class="footer-nav">
                            <ul>
                                <li>
                                    <a asp-action="Index" asp-controller="Home" asp-area="">Back to public page</a>
                                </li>
                                <li>
                                    <a href="#top">Back to top</a>
                                </li>
                            </ul>
                        </nav>

                        <!-- Right-adjusted copyright -->
                        <div class="credits ml-auto">
                            <span class="copyright">
                                ©
                                <script>document.write(new Date().getFullYear())</script> PionierGarage, Design by Creative Tim
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="/js/flatpickr.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/flatpickr.min.js"></script>
    <script src="/plugins/paper-dashboard/js/paper-dashboard-bundled.min.js"></script>
    <script src="/js/backend.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
