<!DOCTYPE HTML>
<!--
    Twenty by HTML5 UP
    html5up.net | @@ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <!-- Opt-Out-Cookie -->
    <script>
        // Set to the same value as the web property used on the site
        var gaProperty = 'UA-25291840-2';

        // Disable tracking if the opt-out cookie exists.
        var disableStr = 'ga-disable-' + gaProperty;
        if (document.cookie.indexOf(disableStr + '=true') > -1) {
            window[disableStr] = true;
        }

        // Opt-out function
        function gaOptout() {
            document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
            window[disableStr] = true;
        }
    </script>
    <!-- End Opt-Out-Cookie -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25291840-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-25291840-2', { 'anonymize_ip': true });
    </script>

    <title>@ViewBag.Title - GROW by PionierGarage</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->

    <meta charset="utf-8" />
    <meta property="og:title" content="GROW Student Founding Contest - by PionierGarage" />
    <meta property="og:image" content="http://grow.pioniergarage.de/img/crawler_banner.jpg" />
    <meta property="og:site_name" content="GROW by PionierGarage" />
    <meta property="og:url" content="http://grow.pioniergarage.de" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="GROW is an 11-week long founding contest for students. Realise your ideas and advance your startup and win prizes based on your progress." />

    @RenderSection("Styles", required: false)
</head>
<body class="@(ViewBag.TransparentNavbar ? "index" : "no-sidebar")">
    <div id="page-wrapper">

        <header id="header" class="@(ViewBag.TransparentNavbar ? "alt" : "")">
            <h1 id="logo" style="text-transform: none;"><a href="@Url.Action("Index", "Home")">GROW <span>by <span style="font-family: Philosopher; font-size: 105%">PionierGarage</span></span></a></h1>
            <nav id="nav">
                <ul>
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="submenu">
                        @Html.ActionLink("Program", "Program", "Home")
                        <ul>
                            <li>@Html.ActionLink("Calendar", "Program", "Home", null, null, "calendar", null, null)</li>
                            <li>@Html.ActionLink("Kickoff", "Program", "Home", null, null, "kickoff", null, null)</li>
                            <li>@Html.ActionLink("Midterm", "Program", "Home", null, null, "midterm", null, null)</li>
                            <li>@Html.ActionLink("Final", "Program", "Home", null, null, "final", null, null)</li>
                        </ul>
                    </li>
                    <li class="submenu">
                        @Html.ActionLink("Contest", "Index", "Home")
                        <ul>
                            <li>@Html.ActionLink("Teams", "Teams", "Home")</li>
                            <li>@Html.ActionLink("Mentors", "Mentors", "Home")</li>
                            <li>@Html.ActionLink("Judges", "Judges", "Home")</li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="http://pioniergarage.de">About us</a>
                        <ul>
                            <li>@Html.ActionLink("Organizers", "Organizers", "Home")</li>
                            <li><a href="https://pioniergarage.de/kontakt/">Contact</a></li>
                            <li><a href="https://pioniergarage.de">PionierGarage</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        @RenderBody()

        <footer id="footer">
            <ul class="icons">
                <li><a href="http://pioniergarage.de" class="icon"> <img alt="PionierGarage Website" src="/img/icon/shortcutIcon_scaled_bw_1.png" width="19px" height="19px"></a></li>
                <li><a href="http://www.facebook.com/Pioniergarage/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="mailto:grow@pioniergarage.de" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li><a href="http://html5up.net">Design</a></li>
                <li><a href="https://pioniergarage.de/impressum">Imprint</a></li>
                <li><a href="https://pioniergarage.de/datenschutz">Privacy</a></li>
            </ul>
            <div>
                <p>
                    Made with ❤ by
                    <a href="https://pioniergarage.de"><img src="/img/pg_logo.png" alt="PionierGarage" style="height: 24px; vertical-align: sub; margin-bottom: -1px" /></a>
                </p>
            </div>
        </footer>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.edited.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollgress.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/util.js"></script>
    <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    <script src="/js/main.js"></script>
</body>
</html>
