@model IEnumerable<Grow.Data.Entities.Prize>

@{
    ViewData["Title"] = "Prizes | " + ViewBag.SelectedContestYear;
}

<h2>Prizes for @ViewBag.SelectedContestName</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr is-active="@item.IsActive">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward)
            </td>
            <td title="@item.Description">
                @item.Description.DynamicSubstring(60)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <partial name="Partials/_OptionCell" model="item" />
        </tr>
        }
    </tbody>
</table>
