@model Grow.Server.Areas.MyTeam.Model.ViewModels.TeamIndexViewModel

@{
    ViewData["Title"] = "Team Dashboard";
    Layout = "Layouts/_BackendLayout";
}

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <partial name="Partials/_TeamProfilePartial" model="Model.MyTeam" />
        </div>
        <div class="col-md-8 col-xl-9">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Next events</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpcomingEvents, evnt => evnt.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpcomingEvents, evnt => evnt.Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpcomingEvents, evnt => evnt.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpcomingEvents, evnt => evnt.Start)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpcomingEvents, evnt => evnt.Location)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.UpcomingEvents.Any())
                            {
                                <tr style="font-style: italic">
                                    <td colspan="6">There are no upcoming events</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var item in Model.UpcomingEvents.OrderBy(e => e.Start).Take(3))
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.Name, "Details", "Events", new { id = item.Id })
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Type)
                                        </td>
                                        <td title="@item.Description">
                                            @item.Description.DynamicSubstring(50)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Start)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="ml-auto mr-auto">
                            @Html.ActionLink("View all", "Index", "Events", null, new { @class = "btn btn-primary btn-round" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
