@model Grow.Data.Entities.File

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>File</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <td>
                <a href="@Model.Url">
                    @Html.DisplayFor(model => model.Url)
                </a>
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AltText)
            </th>
            <td>
                @Html.DisplayFor(model => model.AltText)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <td>
                @Html.DisplayFor(model => model.Extension)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <td>
                @Html.DisplayFor(model => model.Category)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <td>
                @Html.DisplayFor(model => model.CreatedAt)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <td>
                @Html.DisplayFor(model => model.UpdatedAt)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <td>
                @Html.DisplayFor(model => model.IsActive)
            </td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
