@model IEnumerable<Grow.Data.Entities.File>
@using Grow.Data.Entities
@using Grow.Server.Model.Helpers

@{
    ViewData["Title"] = "Index";
    Layout = "Layouts/_AdminLayout";
    PaginationOptions paginationOptions = ViewBag.PaginationOptions;
}

@section Scripts {
    <script src="/js/jquery.simplePagination.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            /* Filter by file category */
            var categorySelector = $("#category-selector");

            // pre-select current filter column
            if (string_compare_case_insensitive(get_url_parameter("filterColumn"), "category")) {
                categorySelector.find("option").each((index, element) => {
                    if (string_compare_case_insensitive($(element).text(), get_url_parameter("filterValue"))) {
                        $(element).attr("selected", "selected");
                    }
                });
            }

            // update filter options when changing select
            categorySelector.on("change", event => {

                // which category has been selected
                var selected = $(event.target).find(":selected");
                var categoryId = selected.val();
                var category = selected.text().toLowerCase();
                
                var url = update_url_parameter("pageIndex", "1");
                if (categoryId === "") {
                    url = update_url_parameter("filterColumn", "", url);
                    url = update_url_parameter("filterValue", "", url);
                } else {
                    url = update_url_parameter("filterColumn", "category", url);
                    url = update_url_parameter("filterValue", category, url);
                }
                window.location.href = url;
            });

        });
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-sm-6">
                    <a asp-action="Create" style="font-size: 200%"><i class="nc-icon nc-cloud-upload-94" style="vertical-align: text-top"></i></a>
                </div>
                <div class="col-sm-6" style="text-align: right">
                    <select asp-items="ViewBag.Categories" id="category-selector" class="form-control">
                        <option value="">-- All --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row no-card centered">
    @Html.PaginationLinks()
</div>

<div class="row">

    @foreach (var file in Model)
    {
        <div class="col-sm-6 col-md-4 col-xl-3 img-card @file.Category">
            <div class="card">
                <div class="card-body">
                    @{
                        var previewTypes = new[] { "jpg", "png", "svg" };
                        var detailsLink = Url.Action("Details", "Files", new { id = file.Id });
                    }
                    @if (previewTypes.Contains(file.Extension))
                    {
                        <a href="@detailsLink">
                            <img src="@file.Url" clas="preview-large" style="max-width: 100%" title="@file.Url" />
                        </a>
                    }
                    else
                    {
                        <a href="@detailsLink">
                            @Html.DisplayFor(modelItem => file.Url)
                        </a>
                    }
                </div>
                <div class="card-footer">
                    <p>
                        <strong>Name:</strong> @file.Name
                    </p>
                    <p>
                        <strong>Category:</strong> @file.Category
                    </p>
                    <p>
                        @file.AltText
                    </p>
                </div>
            </div>
        </div>
    }

</div>

<div class="row no-card centered">
    @Html.PaginationLinks()
</div>
