@model Grow.Data.Entities.Team

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TagLine)
            </th>
            <td>
                @Html.DisplayFor(model => model.TagLine)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActiveSince)
            </th>
            <td>
                @Html.DisplayFor(model => model.ActiveSince)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteUrl)
            </th>
            <td>
                @Html.DisplayFor(model => model.WebsiteUrl)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacebookUrl)
            </th>
            <td>
                @Html.DisplayFor(model => model.FacebookUrl)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstagramUrl)
            </th>
            <td>
                @Html.DisplayFor(model => model.InstagramUrl)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <td>
                @Html.DisplayFor(model => model.IsActive)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MembersAsString)
            </th>
            <td>
                @Html.DisplayFor(model => model.MembersAsString)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogoImageId)
            </th>
            <td>
                @Html.DisplayFor(model => model.LogoImageId)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamPhotoId)
            </th>
            <td>
                @Html.DisplayFor(model => model.TeamPhotoId)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HasDroppedOut)
            </th>
            <td>
                @Html.DisplayFor(model => model.HasDroppedOut)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <td>
                @Html.DisplayFor(model => model.CreatedAt)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <td>
                @Html.DisplayFor(model => model.UpdatedAt)
            </td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
