@model Grow.Data.Entities.Event

@{
    ViewData["Title"] = "Create";
}

@section Scripts {
    <script type="text/javascript">
        // auto set date of "End" field when "Start" is set
        $(document).ready(() => {
            $("#Start").on("change", (event) => {
                var start_value = $(event.target).val();
                var end_element = $("#End");
                if (!end_element.val() && start_value)
                    end_element[0]._flatpickr.setDate(start_value);
            });
        });
    </script>
}

<h2>Create</h2>

<h4>Event</h4>

<hr />
<copyentity asp-type="@Html.GetController()" />
<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="card bg-flat">
                <div class="card-header">
                    <h6>Base Information</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <select asp-for="Type" asp-items="ViewBag.Types" class="form-control"></select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ExternalEventUrl" class="control-label"></label>
                        <input asp-for="ExternalEventUrl" class="form-control" />
                        <span asp-validation-for="ExternalEventUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageId" class="control-label">Image</label>
                        <imgselector asp-items="ViewBag.Images" asp-for="ImageId" asp-prop="Image" class="form-control" />
                        <span asp-validation-for="ImageId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SlidesId" class="control-label">Slides</label>
                        <imgselector asp-items="ViewBag.Images" asp-for="SlidesId" asp-prop="Slides" class="form-control" />
                        <span asp-validation-for="SlidesId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HeldBy" class="control-label"></label>
                        <select asp-items="ViewBag.Partners" asp-for="HeldById" class="form-control"></select>
                        <span asp-validation-for="HeldById" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="card bg-flat">
                <div class="card-header">
                    <h6>Time &amp; Location</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Start" class="control-label"></label>
                        <input asp-for="Start" class="form-control" />
                        <span asp-validation-for="Start" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="End" class="control-label"></label>
                        <input asp-for="End" class="form-control" />
                        <span asp-validation-for="End" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="HasTimesSet" /> @Html.DisplayNameFor(model => model.HasTimesSet)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="card bg-flat">
                <div class="card-header">
                    <h6>Attendance</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Visibility" class="control-label"></label>
                        <select asp-for="Visibility" asp-items="ViewBag.Visibilities" class="form-control"></select>
                        <span asp-validation-for="Visibility" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegistrationOptions.Type" class="control-label">Registration</label>
                        <select asp-for="RegistrationOptions.Type" asp-items="ViewBag.RegistrationTypes" class="form-control"></select>
                        <span asp-validation-for="RegistrationOptions.Type" class="text-danger"></span>
                    </div>
                    <div class="conditional indent" data-if="RegistrationOptions.Type" data-neq="@((int)Grow.Data.Entities.Event.RegistrationType.None)">
                        <div class="form-group">
                            <label asp-for="RegistrationOptions.From" class="control-label"></label>
                            <input asp-for="RegistrationOptions.From" type="date" class="form-control" />
                            <span asp-validation-for="RegistrationOptions.From" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RegistrationOptions.Until" class="control-label"></label>
                            <input asp-for="RegistrationOptions.Until" type="date" class="form-control" />
                            <span asp-validation-for="RegistrationOptions.Until" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsMandatory" /> @Html.DisplayNameFor(model => model.IsMandatory)
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

