@model Grow.Data.Entities.Event

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExternalEventUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExternalEventUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visibility)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            Registration Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationOptions.Type)
        </dd>
        <dt>
            Registration From
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationOptions.From)
        </dd>
        <dt>
            Registration Until
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationOptions.Until)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasTimesSet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasTimesSet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsMandatory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMandatory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeldById)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeldById)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
