@model Grow.Data.Entities.Event

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExternalEventUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExternalEventUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visibility)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasTimesSet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasTimesSet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsMandatory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMandatory)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ImageId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeldById)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeldById)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt>
            Responses
        </dt>
        <dd>
            @foreach (var response in Model.Responses.OrderBy(e => e.Created))
            {
                <div>@response.Name &lt;@response.Email&gt; - @response.ParticipantCount</div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
