@model Grow.Server.Model.ViewModels.EventViewModel

<div class="row">
    <p style="white-space: pre-line">
        @Model.Description
    </p>

    @if (!string.IsNullOrEmpty(Model.ExternalEventUrl))
    {
        <p>
            <a href="@Model.ExternalEventUrl">View on Facebook</a>
        </p>
    }
</div>


@if (Model.ImageUrl != null)
{
    <img src="@Model.ImageUrl" style="max-height: 300px" />
}

<div class="row">
    <div class="2u 4u(narrower)" style="text-align: right"><img src="/img/icon/eventdate.png" style="max-width: 50%" /></div>
    <div class="4u 8u(narrower)">
        @{
            string formatString = string.Empty;
            if (Model.Start.Month == Model.End.Month)
            {
                formatString = (Model.Start.DayOfYear == Model.End.DayOfYear)
                    ? "{0:MMMM dd}{1}, {0:yyyy}"
                    : "{0:MMMM dd}{1} - {2:dd}{3}, {0:yyyy}";
            }
            else if (Model.Start.Year == Model.End.Year)
            {
                formatString = "{0:MM dd}{1} - {2:MM dd}{3}, {0:yyyy}";
            }
            else
            {
                formatString = "{0:MM dd yy} - {2:MM dd yy}";
            }
        }
        @string.Format(formatString, Model.Start, Model.Start.GetDayExtension(), Model.End, Model.End.GetDayExtension())
        @if (Model.HasTimesSet)
        {
            <br />
            @(Model.Start.ToShortTimeString()) @:- @(Model.End.ToShortTimeString())
        }
    </div>

    <div class="2u 4u(narrower)" style="text-align: right"><img src="/img/icon/placeholder.png" style="max-width: 50%" /></div>
    <div class="4u 8u(narrower)">
        @Model.Location<br />@Model.Address
    </div>

    <div style="clear:both; padding: 0"></div>

    <div class="2u 4u(narrower)" style="text-align: right"><img src="/img/icon/visibility.png" style="max-width: 50%" /></div>
    <div class="4u 8u(narrower)">
        @Model.Visibility
    </div>

    <div class="2u 4u(narrower)" style="text-align: right"><img src="/img/icon/exclamation.png" style="max-width: 50%" /></div>
    <div class="4u 8u(narrower)">
        @if (Model.IsMandatory)
        {
            @: Mandatory for all enrolled teams
        }
        else
        {
            @: Optional event to help the teams succeed
        }
    </div>
    
    <div style="clear:both; padding: 0"></div>

    @if (Model.HeldByName != null)
    {
        <div class="2u 4u(narrower)" style="text-align: right"><img src="/img/icon/microphone.png" style="max-width: 50%" /></div>
        <div class="4u 8u(narrower)">
            Held by: <br />
            @Model.HeldByName
        </div>
    }

</div>