@model Grow.Data.Entities.BaseNamedEntity

<td class="options-column">
    @if (!ViewData.ContainsKey("Disabled") || ViewData["Disabled"].Equals(false))
    {
        @if (Model.IsActive)
        {
            <a asp-action="Toggle" asp-route-id="@Model.Id" asp-route-value="false" title="Deactivate"><i class="fa fa-toggle-on"></i></a>
        }
        else
        {
            <a asp-action="Toggle" asp-route-id="@Model.Id" asp-route-value="true" title="Activate"><i class="fa fa-toggle-off"></i></a>
        }
        <a asp-action="Edit" asp-route-id="@Model.Id" title="Edit"><i class="fa fa-edit"></i></a>
    }
    <a asp-action="Details" asp-route-id="@Model.Id" title="Details"><i class="fa fa-info-circle"></i></a>
    @if (!ViewData.ContainsKey("Disabled") || ViewData["Disabled"].Equals(false))
    {
        <a asp-action="Delete" asp-route-id="@Model.Id" title="Delete"><i class="fa fa-trash"></i></a>
    }
</td>